.Container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: white;
}

.Steps {
  width: 100%;
  color: white !important;
}

.Steps .ant-steps-item-title {
  color: white !important;
}

.Steps .ant-steps-item-description {
  color: white !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
  gap: 10px;
}
